In [4]:
for num in range(0,20):
    print (num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
for num in range(10,20):
    print(num,end=' ')

10 11 12 13 14 15 16 17 18 19

In [8]:
list1=[10, 20, 14, 55, 43, 87, 76]
print(len(list1))

7

In [12]:
for char in "Artificial Intelligence":
    print(char,end=' ')

A r t i f i c i a l   I n t e l l i g e n c e

In [13]:
for char in "Artificial Intelligence":
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [15]:
name1=input("Enter your Name")
print(name1)
age=int(input("Enter your age"))
print(age)
profession=input("Enter your profession")
print(profession)

Enter your Name Harikrishnan

Harikrishnan

Enter your age 41

41

Enter your profession ML Engineer

ML Engineer

In [16]:
my_tuple= (1, 'Welcome', 2, 'Hope')
print(my_tuple)

(1, 'Welcome', 2, 'Hope')

In [17]:
tup1=(0,1,2,3)
tup2=('python','HOPE AI')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE AI'))

In [18]:
list=(20,10,16,19,25,1,276,188)
for odd in list:
    if odd%2!=0:
        print(odd, "is odd")

19 is odd
25 is odd
1 is odd

In [19]:
list_even=(20,10,16,19,25,1,276,188)
for even in list_even:
    if even%2==0:
        print(even, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even